<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web Socket Test</title>
    <script>
        if(window.WebSocket){
            var socket = new WebSocket("ws://localhost:8080/netty");
            socket.onopen = function(e){
                console.log("客户端连接成功.");
                socket.send("[LOGIN][hello！]");
            };
            socket.onclose = function(e){
                console.log("客户端关闭连接.");
            };
            socket.onmessage = function(e){
                console.log("客户端接收服务端信息："+e.data);
            }
            if(socket.readyState == WebSocket.OPEN){
                console.log("客户端已离线");
            }
        }else{
            alert("您的浏览器不支持WebSocket协议！");
        }
    </script>
</head>
<body>
</body>
</html>